
.cert{
    padding: 1rem;
    margin: 1.5rem;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    border: solid .05rem rgb(179, 177, 177);
    border-radius: 1rem;
    box-shadow: .2rem .2rem .2rem .3rem rgba(0, 0, 0, .05);
}

img{
    width: 100%;
    max-width: 40rem;
}

.margin-1rem {
    margin: 1rem;
}