
.cert{
    overflow: hidden;
    margin: 1.5rem;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    border: solid .05rem rgb(179, 177, 177);
    border-radius: 1rem;
    box-shadow: .2rem .2rem .2rem .3rem rgba(0, 0, 0, .05);
}

.cert-input{
    text-align: center;
    border: none;
    border-bottom: solid gray .05rem;
    margin: .4rem;
}

textarea{
    width: 70%;
    line-height: 70%
}

.input-group-container{
    display: flex;
}

.margin-04rem{
    margin: 0.4rem;
}